---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="It's-a Me"
	pubDate={new Date('September 12 2025')}
	heroImage={AboutHeroImage}
	hidden={false}
>
	<p>
		yo
	</p>


</Layout>
